.blog-group {
  // display: flex;
}

.blog-image {
  background: black;
  background-size: cover;
  background-position: center;
  padding-bottom: (1/2) * 100%;
  position: relative;
  overflow: hidden;
}

.nail-image {
  position: absolute;
  top: 0; left: 0;
  background-size: cover;
  background-position: center;
  width: 100%; height: 100%;
  transition: transform 300ms ease;
}

.blog-item {
  flex-basis: 30%;
  display: inline-block;
  margin-bottom: 2em;
  text-decoration: none;
  font-weight: lighter;

  &:hover {
    .nail-image {
      transition: transform 300ms ease;
      transform: scale(1.2);
    }
  }

}

.read-more-link {
  color: $green;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.single-post .read-more-link {
  // h4 {}
  margin-top: 0px;
}

.blog-blurb {
  text-decoration: none;


  h4 {
    margin-bottom: 0em;
    color: $green;
    padding-bottom: 0.5em;
    font-size: 1.45em;
  }

  a {
    color: $green;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  small, p {
    color: white;
  }

  p {
    margin-bottom: 0em;
  }

  svg {
    margin-left: 10px;
    margin-top: 5px;
    width: 12px;
    fill: $green;
  }
  
}


@media(min-width: $bp-md) {
  .blog-group {
    display: flex;
    flex-wrap: wrap;
   
  }
  
  .blog-image {
    background: black;
    background-size: cover;
    background-position: center;
    padding-bottom: (1/2) * 100%;
  }
  
  .blog-item {
    flex-basis: 48%;
    align-content: flex-start;
    margin-bottom: 3em;
    margin-right: (8% / 2);

    &:nth-child(2n) {
      margin-right: 0em;
    }
  }
}

@media(min-width: $bp-lg) {
  .blog-item {
    flex-basis: 30%;
    margin-right: (10% / 2);
    &:nth-child(2n) {
      margin-right: (10% / 2);
    }
    &:nth-child(3n) {
      margin-right: 0em;
    }
  }
}