.blog-group {
  // display: flex;
}

.blog-image {
  background: black;
  background-size: cover;
  background-position: center;
  padding-bottom: (1/2) * 100%;
}

.blog-item {
  flex-basis: 30%;
  margin-bottom: 2em;
}

.blog-blurb {

  h4 {
    margin-bottom: 0em;
    color: $green;
    padding-bottom: 0.5em;
    font-size: 1.45em;
  }

  a {
    color: $green;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  small, p {
    color: white;
  }

  p {
    margin-bottom: 0em;
  }

  svg {
    margin-left: 10px;
    margin-top: 5px;
    width: 12px;
    fill: $green;
  }
  
}


@media(min-width: $bp-md) {
  .blog-group {
    display: flex;
    flex-wrap: wrap;
   
  }
  
  .blog-image {
    background: black;
    background-size: cover;
    background-position: center;
    padding-bottom: (1/2) * 100%;
  }
  
  .blog-item {
    flex-basis: 48%;
    align-content: flex-start;
    margin-bottom: 3em;
    margin-right: (8% / 2);

    &:nth-child(2n) {
      margin-right: 0em;
    }
  }
}

@media(min-width: $bp-lg) {
  .blog-item {
    flex-basis: 30%;
    margin-right: (10% / 2);
    &:nth-child(2n) {
      margin-right: (10% / 2);
    }
    &:nth-child(3n) {
      margin-right: 0em;
    }
  }
}