.cta {
  display: inline-block;
  padding: 0.6em 2.4em 0.7em 2.4em;
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
  border: 2px solid $green;
  overflow: hidden;
  border-radius: 4px;

  &:hover {
    .cta-bg {
      &:after {
        width: 100%;
        right: auto;
        left: 0;
      }
    }
  }

  &.secondary {
    color: black !important;
    background: white;
    border: 1px solid white;
    &:after {
      display: none;
    }
  }
}

.cta-bg {
  background: transaprent;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 200ms ease;

  &:after {
    content: "";
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: darken($green, 5%);
    transition: width 0.4s $ease-out-quart;
  }
}