footer {
  background: black;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  text-align: center;

  > .inner {
    padding: 2em 0em;
  }

  a {
    transition: color 300ms ease;

    &:hover {
      color: $green;
    }

  }

}

.footer-hr {
  margin: 1.4em 0em;
  background-color: rgba(white, 0.4);
  border: none;
  height: 1px;
}

.footer-logo {
  display: block;
  max-width: 200px;
  margin: auto;
  margin-bottom: 0.5em;
}

.main-footer-nav {
  // display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    flex-basis: 45%;
  }

}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    color: white;
    text-decoration: none;
  }

  li {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 1em;

    &:last-of-type {
      margin-bottom: 0em;
    }

  }
}


footer nav {
  max-width: 800px;
  margin: auto;
}



.contact-info span {
  color: $green;
}

.toasts {
  padding : 1em 0em;
  background: $green;
}



.flexing-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-el {
  width: 100%;
}

@media(min-width: $bp-lg) {

  footer {
    > .inner {
      padding: 2em 0em;
    }
  }

  .footer-hr {
    display: none;
  }

  .footer-el:nth-child(1) {
    order: 2;
    margin: 2em 0em;
    border-top: 1px solid rgba(white, 0.4);
    border-bottom: 1px solid rgba(white, 0.4);
    padding: 1.4em 0em;
  }

  .footer-el:nth-child(2) {
    order: 0;
  }

  .footer-el:nth-child(3) {
    order: 2;
  }

  footer ul li {
    font-size: 22px;
    margin-bottom: 0em;
  }

  .main-footer-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  
    li {
      flex-basis: auto;
      // margin-bottom: 1em;
    }
  
  }

  .social-list-item {
    // padding-bottom: 1em;

    nav {
      max-width: 600px;
      width: 100%;
      margin: auto; 

    }
    ul {
      display: flex;
      justify-content: space-around;
    }
  }
  
}