.hdr-content {
  padding: 12em 0em 10em 0em;
  color: white;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  position: relative;
  z-index: 8;

  p {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  .cta {
    margin-top: 1em;
    display: inline-block;
  }
}

.bg-el {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;

  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(black, 0.5);
  }

}